<link rel='stylesheet' href='/stylesheets/articlesindex.css'>

<p id = 'username'> Welcome <%= currentUser.charAt(0).toUpperCase() + currentUser.substring(1) %> </p>
<a id = 'logout' href = "/users/logout"> Logout</a>
<h1> Demo Wiki </h1>

<div id = "sortContainer">
<button id = "newArticle" class = "sort"> New Article </button>
<button class="sort" data-sort="random">Shuffle</button>
<!-- <button class="filter" data-filter=".category-1">Filter Out</button>
<button class="filter" data-filter="all">Filter In</button> -->
<input class = "sort" type="text" id="input" placeholder="Search by Category">
</div>

<div id='Container' class = 'container' >
<% articles.forEach(function (article, i){ %>
<div class = "mix">
<form class = "delete" action='/articles/<%=article._id%>?_method=DELETE', method = 'post'>
<input type='submit' value='x'>
</form>
<h2 class = 'title'><%= article.title %> </h2>
<p>by <%= article.author %></p>
<p class = 'category hideMe'> <%= article.category %></p>
<p><%=article.content.slice(0,200)%><a href = '/articles/<%=article._id%>'>...</a> </p>
</div>
<% }) %>
</div>

<script src='http://cdn.jsdelivr.net/jquery.mixitup/2.0.0/jquery.mixitup.min.js'></script>
<script src="scripts/articlesindex.js"></script>
