<link rel='stylesheet' href='/stylesheets/articlesindex.css'>

<p id = 'username'> Welcome <%= currentUser.charAt(0).toUpperCase() + currentUser.substring(1) %> </p>
<h1> Super Wiki </h1>
<button id = "newArticle"> New Article </button>

<div id='Container' class = 'container' >
<% articles.forEach(function (article, i){ %>

<div class = "mix">

<form class = "delete" action='/articles/<%=article._id%>?_method=DELETE', method = 'post'>
<input type='submit' value='x'>
</form>

<img data-title="<%= article.title %>">

<h2><%= article.title %>
<p>by <%= article.author %></p>
<p><%=article.content.slice(0,50)%> </p> <a href = '/articles/<%=article._id%>'>...</a>
</div>
<% }) %>
</div>

<script src='http://cdn.jsdelivr.net/jquery.mixitup/2.0.0/jquery.mixitup.min.js'></script>
<script src="scripts/articlesindex.js"></script>
<script>
  $(function () {
    $('img').each(function (index, image) {
      var $image = $(image);
      var apiUrl = "http://api.pixplorer.co.uk/getimage/" + $image.data('title');

console.log(apiUrl);

      var updateImage = function (apiData) {
        $image.attr('src', apiData.imglink);
      };

      $.ajax({
        url: apiUrl,
        jsonp: 'jsonp',
        dataType: 'jsonp',
        success: updateImage
      })
    })
  });
</script>
