<h1 id = "h1Article"> <%=article.title %> </h1>
<div id='newPostContainer'>
<label>Title:</label>
<h2 id = "show1" class = "articleTextbox"><%=article.title %> </h2>
</br>
<label>Author:</label>
<p id = "show2" class = "articleTextbox"><%=article.author %></p>
</br>
<label>Category:</label>
<p id = "show3" class = "articleTextbox"><%=article.category %></p>
</br>
<label id='showContentLabel'>Content:</label>
<p id = "show4" class = "showTextbox" ><%=article.content %></p>
</br>
<a id = "show5"class="mainButtons" href = '/articles/edit/<%=article._id %>'>Edit</a>
<a id = "show6" class="mainButtons" href = '/articles'>Back</a>
</div>
